* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

.navbar {
  height: 75px;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktop-directory {
  display: none;
}

header {
  background: url("./images/mobile/image-header.jpg") no-repeat center bottom;
  background-size: cover;
  height: 555px;
}

.menu {
  display: none;
  flex-direction: column;
  gap: 2.43rem;
  padding: 2.5rem;
  position: absolute;
  top: 6rem;
  right: 1.5rem;
  text-align: center;
  background-color: white;
  width: calc(100vw - 3rem);
}

.menu:before {
  content: "";
  height: 25px;
  width: 25px;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  background-color: #fff;
  position: absolute;
  top: -25px;
  right: 0;
}

.menu > a {
  text-decoration: none;
  font-size: 1.15rem;
  color:hsl(213, 9%, 39%);
}

.menu > .active-page {
  background-color: hsl(51, 100%, 49%);
  padding: 1rem;
  border-radius: 50px;
  font-family: 'Fraunces', serif;
  color: black;
  text-transform: uppercase;
}

.creatives {
  text-align: center;
}

.creatives > h1 {
  margin: 0;
  padding-top: 5rem;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  color: #FFF;
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

.creatives > img {
  padding-top: 3rem;
}

.info-section {
  display: grid;
  grid-template-rows: 80vw 430px 80vw 430px 600px 600px;
}

.egg {
  background: url("./images/mobile/image-transform.jpg") no-repeat center center;
  background-size: cover;
}

.cup {
  background: url("./images/mobile/image-stand-out.jpg") no-repeat center center;
  background-size: cover;
}

.cherry {
  background-image: url("./images/mobile/image-graphic-design.jpg");
  background-size: cover;
  padding: 1.4rem;
  text-align: center;
  color: hsl(167, 40%, 24%);
  font-size: 16px;
  line-height: 1.5rem;
}

.orange {
  background-image: url("./images/mobile/image-photography.jpg");
  background-size: cover;
  padding: 1.4rem;
  text-align: center;
  color:hsl(198, 62%, 26%);
  font-size: 16px;
  line-height: 1.5rem;
}

.gallery {
  display: grid;
  grid-template-rows: repeat(4, 300px);
}

.milk {
  background-image: url("./images/mobile/image-gallery-milkbottles.jpg");
  background-size: cover;
}

.plate {
  background-image: url("./images/mobile/image-gallery-orange.jpg");
  background-size: cover;
}

.cone {
  background-image: url("./images/mobile/image-gallery-cone.jpg");
  background-size: cover;
}

.sugar {
  background-image: url("./images/mobile/image-gallery-sugar-cubes.jpg");
  background-size: cover;
}

.info-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem
}

.info-center {
  text-align: center;
}

.info-heading {
  color: hsl(212, 27%, 19%);
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  font-weight: 900;
  margin-top: 0;
}

.info-message {
  color: hsl(213, 9%, 39%);
  font-size: 18px;
  line-height: 1.75rem;
}

.info-learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.info-learn {
  color: hsl(212, 27%, 19%);
  font-family: 'Fraunces', serif;
  font-weight: 900;
  text-decoration: none;
}

.info-yellow-underline {
  width: 8rem;
  box-shadow: 0 15px 0 0 #fff1ba;
  border-radius: 10px;
  height: 8px;
}

.info-yellow-underline:hover {
  box-shadow: 0 15px 0 0 hsl(51, 100%, 49%);
}

.info-pink-underline {
  width: 8rem;
  box-shadow: 0 15px 0 0 #fdd7d4;
  border-radius: 10px;
  height: 8px;
}

.info-pink-underline:hover {
  box-shadow: 0 15px 0 0 hsl(7, 99%, 70%);
}

.cherry > h4 {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  padding-top: 22rem;
  font-weight: 900;
}

.orange > h4 {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  padding-top: 22rem;
  font-weight: 900;
}

.client-testimonial {
  padding: 3rem 1.5rem 5rem 1.5rem;
  text-align: center;
}

.client-testimonial > h3 {
  font-family: 'Fraunces', serif;
  font-size: 18px;
  color:hsl(210, 4%, 67%);
  letter-spacing: 3px;
  margin-bottom: 0;
}

.testimonial {
  text-align: center;
  padding-top: 4rem;
}

.testimonial-img {
  width: 70px;
  border-radius: 50%;
}

.testimonial-testimonial {
  font-size: 18px;
  line-height: 2rem;
  color:hsl(213, 9%, 39%)
}

.testimonial-name {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 1.15rem;
  padding-top: 1rem;
  margin: 0;
}

.testimonial-role {
  margin: 0;
  padding-top: 0.5rem;
  color: hsl(210, 4%, 67%);
  font-size: 14px
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50vw);
}

footer {
  background-color: #90d4c5;
  text-align: center;
  height: 325px;
  padding: 4rem 2.5rem;
}

footer > img {
  height: 2rem;
  filter: invert(60%) sepia(40%) saturate(500%) hue-rotate(120deg) brightness(90%) contrast(85%);
}

.footer-pages {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-top: 2rem;
}

.footer-pages > a {
  text-decoration: none;
  color: #4d9383;
  font-size: 1.2rem;
}

.footer-pages > a:hover {
  color: #FFF;
}

.footer-socials {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding-top: 5rem;
}

.footer-socials > a:hover {
  filter: brightness(0) invert(1);
}

@media (min-width: 750px) {

  header {
    background: url("./images/desktop/image-header.jpg") no-repeat center bottom;
    background-size: cover;
    height: 700px;
  }

  .creatives > h1 {
    font-size: 3.5rem;
  }

  .creatives > img {
    padding-top: 5rem;
  }

  .info-section {
    grid-template-rows: repeat(3, 475px);
    grid-template-columns: repeat(2, 1fr);
  }

  .info-egg-block {
    grid-row-start: 1;
  }

  .egg {
    background: url("./images/desktop/image-transform.jpg") no-repeat center center;
    background-size: cover;
  }

  .cup {
    background: url("./images/desktop/image-stand-out.jpg") no-repeat center center;
    background-size: cover;
  }

  .cherry {
    background-image: url("./images/desktop/image-graphic-design.jpg");
    background-position: center;
  }

  .orange {
    background-image: url("./images/desktop/image-photography.jpg");
    background-position: center;
  }

  .cherry > h4 {
    padding-top: 15rem;
  }
  
  .orange > h4 {
    padding-top: 15rem;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 31vw;
  }

  .milk {
    background-image: url("./images/desktop/image-gallery-milkbottles.jpg");
  }

  .plate {
    background-image: url("./images/desktop/image-gallery-orange.jpg");
  }

  .cone {
    background-image: url("./images/desktop/image-gallery-cone.jpg");
  }

  .sugar {
    background-image: url("./images/desktop/image-gallery-sugarcubes.jpg");
  }
}

@media (min-width: 1150px) {

  .navbar {
    height: 130px;
    padding: 2.5rem;
  }

  .navbar > img {
    width: 170px;
  }

  .desktop-directory {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .desktop-directory > a {
    text-decoration: none;
    color: #e3faff;
    font-size: 1.1rem;
  }

  .desktop-directory > .active-desktop {
    color: black;
    font-family: "Fraunces", serf;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: white;
    padding: 1.1rem 1.75rem;
    border-radius: 50px;
  }

  .burger-menu {
    display: none;
  }

  .menu {
    display: none !important;;
  }

  .client-testimonial {
    padding-top: 5rem;
    padding-bottom: 7rem;
  }

  .testimonial-double-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .testimonial-flex {
    display: flex;
    gap: 2rem;
    width: 1100px;
  }
}

@media (min-width: 1440px) {

  header {
    height: 800px;
  }

  .info-section {
    grid-template-rows: repeat(3, 600px);
  }

  .info-block {
    padding: 8.5rem;
  }

  .info-heading {
    font-size: 2.5rem;
  }

  .info-center {
    text-align: left;
  }

  .info-learn-more {  
    display: inline-block;
    padding-top: 1.5rem;
  }

  .category-message {
    display: inline-block;
    width: 340px;
  }

  .cherry > h4 {
    padding-top: 22rem;
    margin-bottom: 1rem;
  }
  
  .orange > h4 {
    padding-top: 22rem;
    margin-bottom: 1rem;
  }

  .client-testimonial {
    padding-top: 10rem;
    padding-bottom: 12rem;
  }
}